extends _layout.pug

block vars
  include _config.pug
  - page_title = 'お探しのページは見つかりませんでした (404)'

block head
  meta(http-equiv='refresh', content='15;URL=' + base_url)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Space+Mono")
  link(rel="stylesheet", href=css_path+'/404.css')

block content
  div.jumbotron.bg-transparent.mt-5
    h1.display-5.d-sm-none #[span.spacemono Sorry.]
    p.lead.spacemono.d-sm-none HTTP 404 Not Found
    h1.display-4.d-none.d-sm-block #[span.spacemono Sorry.]
    p.lead.spacemono.d-none.d-sm-block HTTP 404 Page Not Found
    hr
    p URLをご確認ください。#[br]あるいは，お探しのページはサーバから削除された可能性があります。
    a#btn1.btn.btn-primary(href=base_url, role="button") #[i.fas.fa-leaf.mr-2]トップページへ移動
    a#btn2.btn.btn-outline-primary.d-none(href=base_url, role="button") #[span#remaining 5]秒後にリダイレクトします

block script
  script(src=js_path + '/redirect.js')
