- const base_url = 'https://workshop.net.ict.e.titech.ac.jp'
- const css_path = '/css'
- const image_path = '/img'
- const js_path = '/js'

- let page_title =  '.net Spring Workshop 2023 | 東京工業大学 山岡研究室'

- 
  const og = {
    type: 'website',
    title: '.net Spring Workshop 23',
    description: '.net Spring Workshop（通称：春ゼミ）は、東京工業大学 山岡研究室の主催する研究ワークショップです。',
    image: image_path + '/OGP.jpg',
    url: base_url
  }

- 
  const workshop = {
    year: '2023',
    date: '2023年4月7日（金）',
    datejs: '20230407',
    start: '14:00',
    location: {
      text: '東京工業大学大岡山キャンパス南3号館300輪講室',
    },
    //- transport: '-',
    //- fee: {
    //-   general: '-',
    //-   student: '-'
    //- },
    //- paying: '本年度は懇親会の開催を見送ります',
    //- wifi: '-',
    //- afterparty: {
    //-   text: '-',
    //-   url: ''
    //- },
    //- contact: 'inquiry@workshop.net.ict.e.titech.ac.jp'
  }

- 
  const program = [
    {
      type: 'nonsession',
      start: '14:00',
      end: '14:20',
      title: '自己紹介・全体連絡',
      owner: ''
    },
    {
      type: 'nonsession',
      start: '14:20',
      end: '14:40',
      title: '開式の辞',
      //- todo: owner これでOK?
      owner: '北口 善明'
    },
    {
      type: 'session',
      start: '14:40',
      end: '14:40',
      title: 'セッション',
      //- todo: owner どうする?
      owner: '座長: 脇本 和茂',
      session: [
          {
            start: '14:40',
            end: '15:00',
            title: 'TODO',
            presenter: '在間 哲平（新・修士1年）'
          },
          {
            start: '15:00',
            end: '15:20',
            title: '位置識別子を利用した受信者代弁型情報伝送プロトコル',
            presenter: '大坪 正樹（修士1年）'
          },
          {
            start: '15:20',
            end: '15:40',
            title: '可変ペイロードサイズに対する有限状態数VoIPトラヒックモデル',
            presenter: '和氣 智慶（修士1年）'
          }
        ]
    },
    {
      type: 'nonsession',
      start: '15:40',
      end: '16:00',
      title: '閉会の辞',
      owner: '山岡 克式'
    },
    {
      type: 'nonsession',
      start: '16:00',
      end: '18:00',
      title: '休憩・買い出し等',
      owner: ''
    },
    {
       type: 'nonsession',
      start: '18:00',
      end: '',
      title: '新入生歓迎会',
      owner: ''
    }
  ]
