- var base_url = 'https://workshop.net.ict.e.titech.ac.jp'
- var css_path = '/css'
- var image_path = '/img'
- var js_path = '/js'

- var page_title =  '.net Spring Workshop 2019 | 東京工業大学 山岡・北口研究室'

- 
  var og = {
    type: 'website',
    title: '.net Spring Workshop 2019',
    description: '.net Spring Workshop（通称：春ゼミ）は、東京工業大学 山岡・北口研究室の主催する研究ワークショップです。',
    image: image_path + '/OGP.jpg',
    url: base_url
  }

- 
  var workshop = {
    year: '2019',
    date: '2019年4月10日（水）',
    begin: '14:00',
    location: {
      text: '東京工業大学 大岡山キャンパス 南3号館3階300輪講室（山岡・北口研究室）',
      url: 'https://www.net.ict.e.titech.ac.jp/access/index.html',
    },
    transport: '東急大井町線・目黒線 大岡山駅より徒歩5分',
    fee: {
      general: '調整中',
      student: '調整中'
    },
    paying: '当日会場にて集金いたします（現金・Kyash・PayPay・PayPal）',
    wifi: 'eduroamとWi2が利用できます',
    contact: 'workshop-inquiry@net.ict.e.titech.ac.jp'
  }

- 
  var program = [
    {
      type: 'nonsession',
      time: '14:00 ~ 14:20',
      title: '開式の辞',
      owner: '山岡 克式'
    },
    {
      type: 'session',
      time: '14:20 ~ 15:20',
      title: '前半セッション（新入生の発表）',
      owner: '座長: 宮 太地, 平井 和樹',
      session: [
        {
          time: '14:20 ~ 14:40',
          title: '発表タイトル未提出',
          presenter: '信州大（新・修士1年）'
        },
        {
          time: '14:40 ~ 15:00',
          title: '発表タイトル未提出',
          presenter: '理科大（新・修士1年）'
        },
        {
          time: '15:00 ~ 15:20',
          title: '発表タイトル未提出',
          presenter: '工学院大（新・博士1年）'
        }
      ]
    },
    {
      type: 'nonsession',
      time: '15:20 ~ 15:30',
      title: '休憩',
      owner: ''
    },
    {
      type: 'session',
      time: '15:30 ~ 16:30',
      title: '後半セッション',
      owner: '座長: 平井 和樹, 宮 太地',
      session: [
        {
          time: '15:30 ~ 15:50',
          title: 'ServiceWorkerによるWeb高速化に関する研究 ―パッケージングと配送経路制御―',
          presenter: '代理発表: 北口 善明'
        },
        {
          time: '15:50 ~ 16:10',
          title: '機械学習を用いたDNSクエリ/応答のログ解析による悪性端末検出手法の提案',
          presenter: '代理発表: 北口 善明'
        },
        {
          time: '16:10 ~ 16:30',
          title: '発表タイトル未提出',
          presenter: 'Krittin Intharawijitr（博士3年）'
        }
      ]
    },
    {
      type: 'nonsession',
      time: '16:30 ~ 16:50',
      title: '閉式の辞',
      owner: '北口 善明'
    },
    {
      type: 'nonsession',
      time: '18:00 ~ 20:30',
      title: '懇親会（新入生歓迎会）',
      owner: ''
    },
    {
      type: 'nonsession',
      time: '21:00 ~',
      title: '2次会',
      owner: ''
    }
  ]
