- var base_url = 'https://spring-workshop.net.ict.e.titech.ac.jp'
- var css_path = '/css'
- var image_path = '/image'
- 
  var meta = {
    title: '.net Spring Workshop 2019 | 東京工業大学 山岡・北口研究室',
    og: {
      type: 'website',
      title: '.net Spring Workshop 2019',
      description: '春ゼミは東京工業大学山岡・北口研究室の主催するワークショップです。',
      image: image_path + '/OGP.jpg',
      url: base_url
    }
  }
