- var base_url = 'https://workshop.net.ict.e.titech.ac.jp'
- var css_path = '/css'
- var image_path = '/img'
- var js_path = '/js'

- var page_title =  '.net Spring Workshop 2020 | 東京工業大学 山岡・北口研究室'

- 
  var og = {
    type: 'website',
    title: '.net Spring Workshop 2019',
    description: '.net Spring Workshop（通称：春ゼミ）は、東京工業大学 山岡・北口研究室の主催する研究ワークショップです。',
    image: image_path + '/OGP.jpg',
    url: base_url
  }

- 
  var workshop = {
    year: '2020',
    date: '2020年4月14日（火）',
    begin: '13:00',
    location: {
      text: 'オンライン会議室が確保され次第URLを掲載します',
      url: '',
    },
    transport: '-',
    fee: {
      general: '-',
      student: '-'
    },
    paying: '本年度は懇親会の開催を見送ります',
    wifi: '-',
    afterparty: {
      text: '-',
      url: ''
    },
    contact: 'inquiry@workshop.net.ict.e.titech.ac.jp'
  }

- 
  var program = [
    {
      type: 'nonsession',
      time: '12:00 ~ 13:00',
      title: 'オンライン会議室開放・接続テスト',
      owner: ''
    },
    {
      type: 'nonsession',
      time: '13:00 ~ 13:20',
      title: '開式の辞',
      owner: '北口 善明'
    },
    {
      type: 'session',
      time: '13:20 ~ 14:40',
      title: '前半セッション（新入生の発表）',
      owner: '座長: 宮 太地',
      session: [
        {
          time: '13:20 ~ 13:40',
          title: '発表タイトル未提出',
          presenter: '石橋 拓也（新・修士1年）'
        },
        {
          time: '13:40 ~ 14:00',
          title: '高パケットロス耐性を持つビデオストリーミングのためのQUICとHTTP/3の拡張',
          presenter: '小野 輝也（新・修士1年）'
        },
        {
          time: '14:00 ~ 14:20',
          title: '発表タイトル未提出',
          presenter: '内藤 碩治（新・修士1年）'
        },
        {
          time: '14:20 ~ 14:40',
          title: '逆位相を用いた2チャネル一括OFDM変調における信号品質の測定',
          presenter: '廣 正博（新・修士1年）'
        }
      ]
    },
    {
      type: 'nonsession',
      time: '14:40 ~ 14:50',
      title: '休憩',
      owner: ''
    },
    {
      type: 'session',
      time: '14:50 ~ 15:50',
      title: '後半セッション',
      owner: '座長: 伊藤 佑樹',
      session: [
        {
          time: '14:50 ~ 15:10',
          title: 'ネットワーク環境に応じたHTTPバージョン選択によるコンテンツロード時間削減',
          presenter: '代理発表: 北口 善明'
        },
        {
          time: '15:10 ~ 15:30',
          title: 'HBH最適ファイル配送スケジューリング2リンク拡張の適用領域検討',
          presenter: '湯田 孟（修士1年）'
        },
        {
          time: '15:30 ~ 15:50',
          title: '発表タイトル未提出',
          presenter: '宮 太地（博士1年）'
        }
      ]
    },
    {
      type: 'nonsession',
      time: '15:50 ~ 16:10',
      title: '閉式の辞',
      owner: '山岡 克式'
    }
  ]
