extends _layout.pug

block vars
  include _config.pug

block content
  include include/_inc_header.pug
  include include/_inc_announce.pug
  include include/_inc_program.pug
  include include/_inc_detail.pug
  include include/_inc_update.pug
