section#detail.my-4
  h2.mb-3 発表詳細
  p 発表15分，質疑5分の持ち時間20分です。予鈴（ベル）のタイミングは開始後13分，15分，20分の3回です。時間を守ってのご発表にご協力お願いします。
  p なお，会場の#[mark.yellow プロジェクタはアナログRGB（D-Sub15ピン）のみ対応]しています。事務局の方でも各種変換コネクタは用意しますが，各自で普段ご使用のものをご持参いただいきますようお願いいたします。（特に macOS/*nix をお使いの方）
  
