section#header.my-4
  h1.display-4.d-none.d-lg-inline-block .net Spring Workshop #{workshop.year}
  h1.display-5.d-none.d-md-inline-block.d-lg-none .net Spring Workshop #{workshop.year}
  h1.display-6.d-inline-block.d-md-none .net Spring W.S. #{workshop.year}
  p.lead Welcome to Yamaoka-Kitaguchi Lab., Tokyo Tech!
  hr
  p .net Spring Workshop（通称：春ゼミ） は，東京工業大学 山岡・北口研究室の主催する研究ワークショップです。#[br]はじめて本格的な研究に取り組む学部4年生に向けて，修士・博士の先輩方が昨年度1年間の研究成果を発表します。
  
  p#tech-chan-copyright.text-muted.small 背景画像：#[a(href="https://twitter.com/hidatun").text-muted.bold テックちゃん（工大祭公式マスコットキャラクター）]
