section#detail.my-4
  h2.mb-3 発表詳細
  p 発表15分，質疑5分の持ち時間20分です。予鈴（ベル）のタイミングは開始後13分，15分，20分の3回です。本年度は時間に余裕があるため, 質問時間については延長する可能性があります。
  p なお，会場の#[mark.yellow プロジェクタはHDMIに対応]しています。お使いのPCにHDMIポートがない場合，変換コネクタを出来る限りご用意させていただきますが，対応できない可能性もありますので，普段お使いのものをご持参いただいきますと幸いです。（特に macOS/*nix をお使いの方）
  
