section
  h2 タイムスケジュール
  
  div.row
    div.col-sm-2 14:00 ~ 14:20
    div.col-sm-10
      div.row
        div.col 開式の辞
        div.col.text-right 山岡 克式
  hr

  div.row
    div.col-sm-2 14:20 ~ 15:20
    div.col-sm-10
      div.row
        div.col Session1: 新入生セッション
        div.col.text-right 座長: 宮 太地, 平井 和樹

  div.card.mt-3.mb-3
    div.card-body
      div.row
        div.col-sm-2 14:20 ~ 14:40
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 東工 太郎（新M1）
      div.row
        div.col-sm-2 14:40 ~ 15:00
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 東工 花子（新M1）
      div.row
        div.col-sm-2 15:00 ~ 15:20
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 市川 誰々（新D1）
            
  div.row
    div.col-sm-2 15:20 ~ 15:30
    div.col-sm-10
      div.row
        div.col 休憩
  hr
    
  div.row
    div.col-sm-2 14:20 ~ 15:20
    div.col-sm-10
      div.row
        div.col Session2
        div.col.text-right 座長: 宮 太地, 平井 和樹

  div.card.mt-3.mb-3
    div.card-body
      div.row
        div.col-sm-2 14:20 ~ 14:40
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 東工 太郎（新M1）
      div.row
        div.col-sm-2 14:40 ~ 15:00
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 東工 花子（新M1）
      div.row
        div.col-sm-2 15:00 ~ 15:20
        div.col-sm-10
          div.row
            div.col 題目未提出
            div.col.text-right 市川 誰々（新D1）

  div.row
    div.col-sm-2 14:00 ~ 14:20
    div.col-sm-10
      div.row
        div.col 閉式の辞
        div.col.text-right 北口 善明
  hr
    
  div.row
    div.col-sm-2 14:00 ~ 14:20
    div.col-sm-10
      div.row
        div.col 懇親会・新入生歓迎会
        div.col.text-right
