section.my-4
  h2.mb-3 更新履歴
  p 詳細は#[a(href="https://github.com/yamaoka-kitaguchi-lab/spring-workshop/commits/master") yamaoka-kitaguchi-lab/spring-workshop]で確認できます．
  
  ul#github_commit_log
    li#builderror #[strong エラー:] お使いのブラウザでJavaScriptの実行が許可されているか確認してください
