section#header.my-4
  h1 .net Spring Workshop #{workshop.year}
  p.lead Welcome to Yamaoka-Kitaguchi Lab., Tokyo Tech!
  hr
  p .net Spring Workshop（通称：春ゼミ） は，東京工業大学 山岡・北口研究室の主催する研究ワークショップです．#[br]はじめて本格的な研究に取り組む学部4年生に向けて，修士・博士の先輩方が昨年度1年間の研究成果を発表します．
