footer#footer.footer.mt-auto.text-center
  p.text-muted.my-0 &copy; #{workshop.year} Yamaoka-Kitaguchi Laboratory
  a(href="https://github.com/yamaoka-kitaguchi-lab/workshop.net.ict.e.titech.ac.jp").text-muted.small.my-0 Powered by GitHub Pages
