section#header.my-4
  h1.display-4.d-none.d-lg-inline-block .net Spring Workshop #{workshop.year}
  h1.display-5.d-none.d-md-inline-block.d-lg-none .net Spring Workshop #{workshop.year}
  h1.display-6.d-inline-block.d-md-none .net Spring WS #{workshop.year}
  p.lead Welcome to Yamaoka Lab., Tokyo Institute of Technology!
  hr
  p .net Spring Workshop（通称：春ゼミ） は，東京工業大学 山岡研究室の主催する研究ワークショップです。これからはじめての本格的な研究に取り組む学部4年生に向けて，「1年後の姿を見せる」という目的から，修士1年生が卒論相当内容を発表します。また，例年ワークショップ後には新入生歓迎会を開催しています。
  
  p#tech-chan-copyright.text-muted.small 背景画像：#[a(href="https://mascot.koudaisai.jp/#agreement").text-muted.bold テックちゃん（工大祭公式マスコットキャラクター）]
