section
  h2 開催案内
  table.table
    tbody
      tr
        th(scope="row") 日程
        td 2019年3月10日
      tr
        th(scope="row") 場所
        td
          a(href="") 東京工業大学 大岡山キャンパス 南3号館3階300輪講室
      tr
        th(scope="row") 交通
        td 東急目黒線大岡山駅より徒歩5分
      tr
        th(scope="row") 懇親会参加費
        td 1000円くらい？
        
