div.alert.alert-danger.bg-transparent
  h4.alert-heading #[strong #[i.fas.fa-viruses] COVID-19への対応]
  p 新型コロナウイルス感染症に関する研究室の対応は，すべて#[a(href="https://www.titech.ac.jp/news/2020/046433.html") 大学の方針]に準じるものとします。
  hr
  p 本年度は以下の通り開催要領を変更いたします。あしからずご了承ください。
  ul
    li #[strong 一般ゲスト（OB/OGや他大学教員）への招致は行いません]
    li #[strong Zoom遠隔会合による実施とし，学生は自宅からオンラインで参加してください]
    li #[strong 懇親会は中止します]
