section#detail.my-4
  h2.mb-3 発表詳細
  p 発表15分，質疑5分の持ち時間20分です。予鈴（ベル）のタイミングは開始後13分，15分，20分の3回です。時間を守っての発表にご協力お願いします。なお，本年度は研究室として初のオンライン開催になります。春ゼミ以降の輪講もすべて同じ要領で実施していきますので，何らかのノウハウや意見をお持ちの方はぜひお申し出ください。
  
  h3 オンライン参加の準備
  ol
    li #[a(href="https://zoom.us/download") Zoomデスクトップクライアント]をインストールしてください。Webカメラとマイク・ヘッドセットが正しく動作することを確認してください。
    li 講演者の方は，フォントサイズを上げるなど，スライドをオンライン配信に適した形式に修正してください。#[mark.yellow プレゼンする上で込み入った図表の提示が必要な場合は，事前にスライドを全体共有してください。（事務局まで送ってください）]
    li Slackのワークスペースに参加してください。
  
  h3 当日の注意
  ol
    li ミーティングパスワードはSlackチャンネル#[a(href="https://labo301.slack.com/app_redirect?channel=spring-workshop-2020") #spring-workshop-2020]にてお知らせします。
    li 講演者の方は必ずPCから参加してください。聴講者の方もPCからの参加を推奨します。
    li オンライン会議室は12:00から17:00まで確保します。#[mark.yellow 開式は13:00ですが，遅くとも15分前までには全員オンラインで待機してください。集まり次第，接続テストを実施します。]特に講演者の方は，スライド内容が聴講者全員のスクリーンで判別できることを確認しなければなりません。
    li 顔合わせを兼ねているので，全員Webカメラを有効にしてください。
    li 講演中，聴講者の方はマイクをミュートにしてください。また，マイクが周囲の雑音を拾わないよう注意してください。
    li Slackは音声不通時の連絡手段になります。常に開けておいてください。資料の共有や質疑応答にも使うかもしれません。
