* {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

dl#attendance-fee > dt {
  float: left;
}

dl#attendance-fee > dd {
  margin-bottom: 0;
  margin-left: 70px;
}
